html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 130px;
    height: 130px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #orangered {
    background: orangered;
  }
  
  #greenyellow {
    background: greenyellow;
  }
  #turquoise {
    background: turquoise;
  }
  #yellow {
    background: yellow;
  }
  